<% include ../partials/header %>

<form method='POST' action='/post/<%= post.id %>?_method=PUT'>
  <input name='id' type='hidden' value='<%= post.id %>' />
  <input name='country' type='text' value='<%= post.country %>' />
  <input name='description' type='text' value='<%= post.description %>' />
  <input name='image' type='text' value='<%= post.image %>' />

  <input type='submit' value='Edit it!' /><br>
</form>

<% include ../partials/footer %>
